@media (prefers-color-scheme: dark) {
  html {
    filter: invert(0.9) hue-rotate(180deg) grayscale(1);
  }

  .roam-body .roam-app .roam-sidebar-container {
    background: white;
    border-color: white;
  }

  #roam-sidebar-logo {
    filter: invert(100);
  }

  #roam-sidebar-logo img {
    filter: invert(0);
  }

  img, iframe {
    filter: invert(1) hue-rotate(180deg);
  }
}
